//See index for shared style
#connect
{
	ul.cameras
	{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		list-style: none;
	}
    h2
    {
    	margin:0 0 20px;
    }
    h3
    {
    	font-size: 16px;
		color: #555;
    }

    #networks
    {
    	display:block;
    }

	div.page
	{
		flex:1 1 auto;
	}

	div.center-buttons
	{
		display:flex;
	}
	.margin-top
	{
		margin-top:15px;
	}

	.short{
		width:100px;
	}

	.centered{
		display:block;
		margin:0 auto;
	}
}