.animate-show
{
  opacity: 1;

  &.ng-hide-add
  {
    display:none;
  }

  &.ng-hide-add-active
  {
    opacity: 0;
  }

  &.ng-hide-remove
  {
    transition: 1000ms linear all;
    opacity: 0;
    
  }

  &.ng-hide-remove-active
  {
    opacity: 1;
  }
  
}