.animate-show
{
  opacity: 1;

  &.ng-hide-add
  {
    display:none;
  }

  &.ng-hide-add-active
  {
    opacity: 0;
  }

  &.ng-hide-remove
  {
    transition: 1000ms linear all;
    opacity: 0;
    
  }

  &.ng-hide-remove-active
  {
    opacity: 1;
  }
  
}

.fade {

    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    display:none;
    
}
.fade.ng-leave-active {
    opacity: 1;
}