<html ng-app="myApp" ng-strict-di check-route-error>
<head>
	<title ng-bind="$root.title"></title>
	<link rel="stylesheet" type="text/css" href="css/build.css">
	<script src="js/build.js"></script>

	<link href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>

</head>
<body>
	<main>
		<article>
		<header>
			<h1>Go raspi</h1>
		</header>
		<section>
			<ul class="button-panel">
				<li ng-if="!camera.isConnected()">Conectar camara</li>
				<li ng-if="camera.isConnected()">Desconectar camara</li>
				<li ng-class="{'enabled': camera.isConnected()}">Estado</li>
			</ul>
			<div ng-view></div>
		</section>
	</article>
	</main>
</body>
</html>